<p>detail-item works!</p><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class="container-fluid">
  <div class="header">Comicomic</div>
  <div class="content">
    <div class="ad ad01"></div>
    <div class="comic-des">
      <div class="comic-cover"></div>
      <div class="comic-detail">
        <div class="comic-title">MY HEXSCHOOL</div>
        <div class="detail">
          <h6>Genres</h6>
          <span>Fusce/vehicula/dolor</span>
          <h6>Author</h6>
          <span>Namae Shiranai</span>
          <h6>Status</h6>
          <span>Ongoing</span>
          <h6>Rate</h6>
          <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
          <h6>Summary</h6>
          <div class="summary">If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.  Therefore, I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion with a plurality of other mortals. </div>
        </div>
      </div>
    </div>
    <div class="ad ad02"></div>
    <button type="button" class="btn chap-badge">All Chapters</button>
    <div class="list-group list-group-flush chap">
      <a href="#" class="list-group-item list-group-item-action chapter">Chapter 1: The F2E Challenge Start!</a>
      <a href="#" class="list-group-item list-group-item-action chapter">Chapter 2: Todo List is Going Crazy! <span class="badge badge-new">new</span></a>
    </div>
    <div class="ad ad03"></div>
  </div>
</div>
