
<section class="main-section-cards" (click)="clickElement()">
<article class="card">

  <div class="card__img" [ngStyle]="{'background-image': getImageUrl()}"> </div>
  <a href="#" class="card_link" >
     <div class="card__img--hover" > <img [src]="getImageUrl()" class="portada-comic"> </div>
   </a>

  <div class="card__info">
    <span class="card__category"> Comic </span>
    <h3 class="card__title">{{comic.title | uppercase}}</h3>
    <div>{{comic.creators | creators}}</div>
    <span class="card__by">Description: <a href="#" class="card__author" title="author">{{comic.description}}</a></span>
    <a> {{comic.onsaleDate | date: 'longDate'}} </a>
  </div>

</article>
</section>
