body{
  display: flex;
  align-items: center;
  justify-content: center;
}


#superior .main-title {
  color: #e23636;
  font-size: 6.5em;
  font-weight: bold;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
