<div class="wrapper">
  <div class="loader">
      <img id="colored" src="http://preview.ibb.co/fhn2BG/marvel.jpg" width="200">
    <div class="wave top-wave">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="wave bottom-wave">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
